.images{
	max-height : 35%;
	max-width : 35%;
}
.background{
	background-color: #ADD8E6;
}

.title{
	background-color: #FFD700;
	text-align: center;
	color : #191970;
	
	
}

.table{
	background-color: #FFDEAD;
	margin: auto;
	border-color: #FFD700;
	text-align: center;
}

.subtitle{
	text-align: center;
	color : #DC143C	;
	text-decoration : underline;
}

.saluti{
	text-align: right;
	color : #0000CD;
}
	