.images{
	width: 300px; 
	height: auto;
}
body{
	background-color: #ADD8E6;
}

.title{
	background-color: #FFD700;
	text-align: center;
	color : #191970;
	
	
}

table{
	background-color: #FFDEAD;
	margin: auto;
	border-color: #FFD700;
	text-align: center;
}

.subtitle{
	text-align: center;
	color : #DC143C	;
	text-decoration : underline;
}

address{
	text-align: right;
	color : #0000CD;
}
	